# Ignore LaTeX ouputs:
*.aux
*.log
*.fls
*.synctex.gz
*.synctex(busy)
*fdb_latexmk
# Bibtex logs, etc.:
*.bcf
*.blg
*.bbl
*.run.xml

#Ignore PDF and just rebuild locally
*.pdf
# Ignore MATLAB autosaves
*.asv 
